@charset "UTF-8";


.write-detail-bottom .search-box .search_bar {
    width: 267px;
    float: right;
}

.write-detail-bottom .search-box span {
    vertical-align: -webkit-baseline-middle;
    color: #9f9f9f;
    font-size: 12px;
}

.write-detail-bottom .search-box span a {
    margin: 0 5px !important;
    color: #9f9f9f;
}

.write-detail-bottom .search-box span a:hover{ color: #f93c23;}

/*검색창 CSS*/
.searchForm{
    border-radius: 15px;
    background-color: transparent;
    margin: 5px;
    height: 30px;
}

.searchF3{
	border: 1px solid #ddd;
	border-radius: 3px;
	background-color: #fafafa;
}
.searchF3_2{ 
	width: 210px;
	height: 36px;
	float: right;
}
.searchF3_2 input {
	font-size: 13px;
}
.searchI{
	display: inline-block;
    padding-left: 10px;
    width: 100%;
}
.searchWhiteI{ color: #ffffff;}
.searchGryI{ color: #ccc;}


.search{
	width: 92%;
	height: 30px;
    padding: 0;
    padding-left: 5px;
    margin: 0 !important;
    border: 1px solid transparent;
    border-radius: 13px;
    background-color: transparent;
    outline: none;
}

.search2_1{
	height: 35px;
}

#content .reg-page .inside-w {
	background-color: #fdfdfd;
	min-width: 850px;
	min-height: 400px;
}

#content .reg-page .inside-w .form-title {
	float: left;
}

#content .inside-w .pbtn {
	float: right;
}

#content .inside-w .pbtn a:hover {
	background-color: #409cd1;
    border-color: #409cd1;
    color: white;
    cursor: pointer;
}

#content .inside-w .pimg img {
    width: 790px;
    height: 400px;
}

#content .reg-page .inside-w .bbox {
	border: 1px solid #ddd;
    background-color: #fff;
    padding: 30px 30px 10px;
}

#content .inside .circle {
	float: left;
	margin-right: 25px;
}

#content .inside .circle img {
	width: 90px;
    height: 90px;
    border: 2px solid #ddd;
	border-radius: 50%;
}
#content .inside .circle p {
    font-size: 15px;
    color: #2f2f2f;
    margin-top: 5px;
}

#content .reg-page .inside-w td.date {
	float: right;
	font-size: 14px;
	color: #7d7d7d;
	margin-top: 6px;
}

#commentForm tr.re {
	border-bottom: 1px solid #ddd;
    padding: 20px 0;
}

#commentForm tr.re td {
    padding: 20px 0;
}

main .header {
	min-height: 230px;
	overflow: hidden;
	position: relative;
	background-color: #fff;
	z-index: 1
}

main .header .collapse-header {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 40px;
	height: 40px;
	z-index: 1;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: bottom;
	background-image:
		url("data:image/svg+xml;charset=utf-8,%3Csvg width='40' height='40' viewBox='0 0 43 43' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Ccircle fill-opacity='.3' fill='%23fff' cx='21.5' cy='21.5' r='21.5'/%3E%3Cpath d='M13 13l17.68 17.68m0-17.68L13 30.68' stroke='%23FFF' stroke-width='.9' stroke-linecap='round'/%3E%3C/g%3E%3C/svg%3E");
	cursor: pointer
}

main .header:after {
	content: "";
	top: 0;
	background: #000;
	opacity: .4;
	z-index: -2
}

main .header .bgimg, main .header:after {
	position: absolute;
	width: 100%;
	height: 100%
}

main .header .bgimg {
	z-index: -1
}

main .header .bgimg.overlay {
	opacity: .5
}

main .header .bgimg.bg-all:after {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	background: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)) repeat
		0 0;
	top: 0;
	left: 0
}

main .header .bgimg.bg-all.no-afrer:after {
	content: none
}

main .header .c {
	padding-top: 62px;
}

main .header .c h1 {
	text-align: center;
    color: #fff;
    font-family: Georgia, Nimbus Roman No9 L, serif;
    font-size: 42px;
    font-weight: 500;
}


main .header .stat {
	display: none
}

main .header .back-link {
	display: inline-block;
	padding: 4px 30px;
	margin: -10px 30px 0;
	font: 10px/12px Helvetica, Arial, FreeSans, sans-serif;
	color: #fff;
	text-decoration: none;
	background-color: #409cd1;
	vertical-align: middle
}

main .header .back-link:hover {
	background-color: #66b0da
}

main .header .back-link:active {
	background-color: #30759d
}

main .header p {
	color: #fff;
	line-height: 21px;
	max-height: 63px;
	overflow-y: hidden
}

main .header p:not (.unlock-info ) a {
	color: #fff;
	text-decoration: underline
}

main .header .fmon {
	height: 40px;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: #fff
}

main .header .mon {
	width: 100%;
	max-width: 1164px;
	padding: 0 12px;
	display: table;
	table-layout: fixed;
	text-align: center;
	margin: 0 auto
}

main .header .mon>li, main .header .mon a {
	padding: 12px 0;
	display: table-cell;
	color: #999
}

main .header .mon>li {
	opacity: .5
}

main .header .mon>li.cur {
	color: #409cd1;
	font-weight: 700;
	opacity: 1;
	position: relative
}

main .header .mon>li.cur:after {
	content: "";
	position: absolute;
	bottom: 0;
	width: 66%;
	height: 3px;
	left: 17%;
	background: #409cd1
}

main .header .opimg {
	width: 60px;
	float: left;
	margin: 26px 30px 12px 0;
	height: 60px;
	background: #fff;
	border: 1px solid #ccc;
	position: relative
}

main .header .opimg img {
	max-width: 50px;
	max-height: 50px;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto
}

main .header.empty h1, main .header.empty h2, main .header.empty p {
	color: #333
}

main .header.empty p a {
	text-decoration: underline;
	color: #333
}

main .header.empty .details {
	color: #333
}

main .header.empty:after {
	content: none
}

main .header.empty nav ul, main .header.empty nav ul a, main .header.empty nav ul span
	{
	color: #999
}

main .header .header-info, main .header .unlock-container {
	display: inline-block;
	vertical-align: top
}

main .header .header-info {
	max-width: 60%;
	padding-right: 140px
}

main .header .header-info.full {
	max-width: 100%;
	padding-right: 0
}

main .header .header-info.full .stat, main .header .header-info.full p {
	padding-bottom: 25px;
	max-height: none
}

main .header .header-info.full p.m-bot {
	margin-bottom: 25px
}

main .header .header-info .details {
	display: block
}

main .header .operator .header-info {
	width: calc(60% - 90px)
}

main .header .operator .header-info.full {
	width: calc(100% - 90px)
}

main .header .details {
	display: none;
	font-weight: 700;
	text-align: left;
	color: #fff;
	padding-top: 30px
}

main .header .details li {
	margin-bottom: 20px
}

main .header .details .icon {
	width: 25px;
	height: 25px;
	margin-right: 10px;
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: contain;
	background-image:
		url("data:image/svg+xml;charset=utf-8,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%2341c4ab'%3E%3Cpath d='M10 19c-4.96 0-9-4.04-9-9s4.04-9 9-9 9 4.04 9 9-4.04 9-9 9M9.86 0C4.34.08-.08 4.62 0 10.14c.08 5.52 4.62 9.94 10.14 9.86 5.52-.08 9.94-4.62 9.86-10.14C19.92 4.34 15.38-.08 9.86 0'/%3E%3Cpath d='M15.15 6.15L8 13.3l-3.15-3.15c-.2-.2-.5-.2-.7 0-.2.2-.2.5 0 .7l3.5 3.5a.485.485 0 0 0 .7 0l7.5-7.5c.2-.2.2-.5 0-.7-.2-.2-.5-.2-.7 0'/%3E%3C/g%3E%3C/svg%3E")
}

main .header .details .details-description, main .header .details .icon
	{
	display: inline-block;
	vertical-align: middle
}

main .header .unlock-container {
	min-width: 40%;
	max-width: 40%
}

main .header .unlock-container .locked, main .header .unlock-container .unlocked
	{
	margin-top: 30px;
	margin-bottom: 40px;
	min-width: 340px;
	min-height: 320px;
	border-radius: 1px;
	padding: 20px 30px;
	background-color: #fff
}

main .header .unlock-container .locked {
	position: relative
}

main .header .unlock-container .locked h2 {
	margin: 0;
	margin-bottom: 8px;
	font-family: Helvetica, Arial, FreeSans, sans-serif;
	font-size: 18px;
	font-weight: 700;
	line-height: 22px;
	text-align: center;
	color: #333
}

main .header .unlock-container .locked p {
	font-size: 12px;
	line-height: 20px;
	color: #333;
	text-align: center;
	margin-bottom: 17px
}

main .header .unlock-container .locked p.message.error {
	max-width: none;
	text-align: center;
	line-height: 18px;
	color: #d0021b;
	margin-bottom: 5px;
	visibility: hidden
}

main .header .unlock-container .locked p.message.error.active {
	visibility: visible
}

main .header .unlock-container .locked input {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	display: block;
	width: 100%;
	margin-bottom: 10px;
	padding: 12px 20px;
	line-height: 19px;
	border: 1px solid #ccc;
	border-radius: 1px
}

main .header .unlock-container .locked input.error {
	border-color: #ec7063
}

main .header .unlock-container .locked input::-webkit-input-placeholder
	{
	color: #999;
	font-weight: 400
}

main .header .unlock-container .locked input:-moz-placeholder, main .header .unlock-container .locked input::-moz-placeholder
	{
	color: #999;
	font-weight: 400
}

main .header .unlock-container .locked input:-ms-input-placeholder {
	color: #999;
	font-weight: 400
}

main .header .unlock-container .locked input::placeholder {
	color: #999;
	font-weight: 400
}

main .header .unlock-container .locked input:nth-of-type(2) {
	margin-bottom: 5px
}

main .header .unlock-container .locked p.unlock-info.unlock-info {
	max-width: none;
	font-size: 10px;
	font-weight: 400;
	line-height: 21px;
	text-align: center;
	color: #ccc;
	margin-bottom: 0
}

main .header .unlock-container .locked p.unlock-info.unlock-info span {
	font-style: italic
}

main .header .unlock-container .locked .popup {
	cursor: pointer;
	color: #409cd1
}

main .header .unlock-container .locked .popup:hover {
	text-decoration: underline
}

main .header .unlock-container .locked .ends {
	background-color: #319380;
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 2px;
	padding: 3px 10px;
	border-radius: 100px;
	font-weight: 700;
	position: absolute;
	right: 0;
	top: -10px;
	color: #fff
}

main .header .unlock-container .locked .ends:before {
	display: none
}

main .header .unlock-container .locked.permanent h2 {
	margin: 0 0 18px;
	font-family: Helvetica, Arial, FreeSans, sans-serif;
	font-size: 24px;
	font-weight: 700;
	line-height: 36px;
	text-align: center;
	color: #333
}

main .header .unlock-container .locked.permanent .unlock-button {
	margin: 30px 0 22px
}

main .header .unlock-container .locked .saving-badge, main .header .unlock-container .unlocked .saving-badge
	{
	position: absolute;
	top: -40px;
	left: -40px;
	width: 80px;
	height: 80px;
	border-radius: 40px;
	line-height: 16px;
	padding: 12px 0;
	font-weight: 400;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
	background-color: #e54f3b
}

main .header .unlock-container .locked .saving-badge .saving, main .header .unlock-container .unlocked .saving-badge .saving
	{
	font-size: 21px;
	line-height: 24px;
	font-weight: 700
}

main .header .unlock-container .locked button, main .header .unlock-container .unlocked button
	{
	font-size: 16px;
	line-height: 19px;
	border: 0;
	cursor: pointer;
	outline: 0;
	padding: 12px;
	margin-bottom: 10px;
	width: 100%
}

main .header .unlock-container .locked button:focus, main .header .unlock-container .unlocked button:focus
	{
	outline: none
}

main .header .unlock-container .locked button::-moz-focus-inner, main .header .unlock-container .unlocked button::-moz-focus-inner
	{
	border: 0
}

main .header .unlock-container .locked button .btn-icon, main .header .unlock-container .locked button .btn-text,
	main .header .unlock-container .unlocked button .btn-icon, main .header .unlock-container .unlocked button .btn-text
	{
	display: inline-block;
	vertical-align: middle
}

main .header .unlock-container .locked button .btn-text, main .header .unlock-container .unlocked button .btn-text
	{
	margin-right: 40px
}

main .header .unlock-container .locked button .btn-icon, main .header .unlock-container .unlocked button .btn-icon
	{
	width: 20px;
	height: 20px;
	margin-right: 20px;
	background-size: contain;
	background-position: 50%;
	background-repeat: no-repeat;
	background-image:
		url("data:image/svg+xml;charset=utf-8,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.4 17.4c-1 1-2.4 1.6-3.9 1.6s-2.9-.6-3.9-1.6C5.63 16.4 5 15 5 13.5s.62-2.9 1.6-3.9C7.6 8.63 9 8 10.5 8s2.9.62 3.9 1.6c1 1 1.6 2.38 1.6 3.9s-.6 2.9-1.6 3.9zM8 3.5a2.5 2.5 0 0 1 5 0v4c-.77-.32-1.6-.5-2.5-.5-.9 0-1.73.18-2.5.5v-4zm6 4.53V3.5C14 1.57 12.43 0 10.5 0S7 1.57 7 3.5v4.53C5.2 9.18 4 11.2 4 13.5c0 3.6 2.9 6.5 6.5 6.5s6.5-2.9 6.5-6.5c0-2.3-1.2-4.32-3-5.47z' fill='%23fff'/%3E%3Cpath d='M10 12v3c0 .28.22.5.5.5s.5-.22.5-.5v-3c0-.28-.22-.5-.5-.5s-.5.22-.5.5' fill='%23fff'/%3E%3C/svg%3E")
}

main .header .unlock-container .locked button:hover, main .header .unlock-container .unlocked button:hover
	{
	background-color: #67d0bc
}

main .header .unlock-container .unlocked {
	position: relative;
	padding-top: 50px;
	background-color: #fff;
	font-family: Helvetica, Arial, FreeSans, sans-serif;
	font-size: 14px;
	line-height: 23px;
	text-align: center;
	color: #333
}

main .header .unlock-container .unlocked .lower-prices-info {
	display: none
}

main .header .unlock-container .unlocked .icon {
	width: 64px;
	height: 64px;
	margin: 0 auto 30px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50%;
	background-image:
		url("data:image/svg+xml;charset=utf-8,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3Cpath id='a' d='M0 0v20h13V0H0z'/%3E%3C/defs%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg transform='translate(4)'%3E%3Cmask id='b' fill='%23fff'%3E%3Cuse xlink:href='%23a'/%3E%3C/mask%3E%3Cpath d='M10.4 17.4c-1 1-2.4 1.6-3.9 1.6s-2.9-.6-3.9-1.6S1 15 1 13.5s.6-2.9 1.6-3.9C3.6 8.63 5 8 6.5 8s2.9.62 3.9 1.6c.98 1 1.6 2.38 1.6 3.9s-.62 2.9-1.6 3.9M10 8.02V3.5C10 1.57 8.43 0 6.5 0S3 1.57 3 3.5c0 .28.22.5.5.5s.5-.22.5-.5a2.5 2.5 0 0 1 5 0v4C8.23 7.18 7.4 7 6.5 7 2.9 7 0 9.9 0 13.5S2.9 20 6.5 20s6.5-2.9 6.5-6.5c0-2.3-1.2-4.32-3-5.47' fill='%2341c4ab' mask='url(%23b)'/%3E%3C/g%3E%3Cpath d='M10 12v3c0 .28.22.5.5.5s.5-.22.5-.5v-3c0-.28-.22-.5-.5-.5s-.5.22-.5.5' fill='%2341c4ab'/%3E%3C/g%3E%3C/svg%3E")
}

main .header .unlock-container .unlocked .congrats {
	font-size: 18px;
	font-weight: 700;
	line-height: 24px;
	margin-bottom: 13px
}

main .header .unlock-container .unlocked h2, main .header .unlock-container .unlocked p
	{
	color: #333
}

main .header .unlock-container .unlocked button {
	margin-top: 40px
}


a:hover {
	text-decoration: none !important;
}
.but:hover {
    border-color: #409cd1;
    color: #409cd1;
    cursor: pointer;
}
div.blike {
    display: inline-block;
    padding-right: 5px;
}
div.blike .like_icon {
    font-size: 1.2em;
    cursor: pointer;
}
div.blike_text {
	font-weight:bold; 
	font-size: 11px;
}
div.rcount {
	display: inline-block;
}
div.rcount .eye_icon {
	font-size: 1.2em;
}

.cf {
	overflow: auto
}

.olark {
	height: 48px;
	line-height: 48px;
	background: #2d2d2d;
	display: inline-block;
	position: fixed;
	bottom: 15px;
	right: 20px;
	border-radius: 100px;
	padding: 0 20px;
	z-index: 9999;
	color: #fff;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	font-weight: 700;
	cursor: pointer;
	text-decoration: none !important
}

@media ( max-width :768px) {
	.olark .olark-button-text {
		display: none
	}
	.olark svg {
		margin-right: 0 !important
	}
}

.olark>* {
	vertical-align: middle;
	display: inline-block
}

.olark svg {
	height: 48px;
	width: 28px;
	margin-right: 12px
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

body, html {
	margin: 0;
	padding: 0
}

body:not (.resp ), html:not (.resp ){
	min-width: 963px
}

body.resp, html.resp {
	min-width: 320px
}

body {
	font-family: Helvetica, Arial, FreeSans, sans-serif;
	color: #333;
	background: #f5f5f5
}

body, input {
	font-size: 14px
}

input::-webkit-input-placeholder {
	color: #999
}

input:-moz-placeholder, input::-moz-placeholder {
	color: #999
}

input:-ms-input-placeholder {
	color: #999
}

input::placeholder {
	color: #999
}

ul {
	margin: 0;
	padding: 0;
	list-style: none
}

a {
	text-decoration: none;
	cursor: pointer;
	color: #409cd1
}

p {
	margin: 0
}

.unselectable {
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none
}

.t_b {
	height: 45px
}

.hid {
	display: none !important
}

.invis {
	visibility: hidden
}

.bg-all {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50%
}

.bg-all img {
	object-fit: cover;
	height: 100%
}

.bg-all img, .but {
	display: block;
	width: 100%
}

.but {
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 1px;
	text-align: center;
	padding: 7px 0;
	clear: both;
	color: #333;
	display: inline-block;
	width: 40px;
}

.but.turq {
	background: #41c4ab;
	border-color: #41c4ab;
	color: #fff
}

.but.w-blue {
	border-color: #409cd1;
	color: #409cd1
}

.but.blue {
	background: #409cd1;
	border-color: #409cd1;
	color: #fff
}

.atm-m-stars, .atm-m-stars .star {
	display: inline-block
}

.atm-m-stars .star {
	width: 15px;
	height: 15px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 50%;
	background-image:
		url("data:image/svg+xml;charset=utf-8,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.55 1.4l-2.6 5.28-6.83 1 4.94 4.8-1.17 6.8 6.1-3.2 6.1 3.2-1.16-6.8 4.94-4.8-6.83-1L10 .48l-.45.92zM6.13 12.14L2.27 8.37 7.6 7.6 10 2.74l2.4 4.84 5.33.77-3.86 3.77.9 5.32-4.77-2.5-4.78 2.5.9-5.32z' fill='%23ffc101'/%3E%3C/svg%3E")
}

.atm-m-stars .star.full {
	background-image:
		url("data:image/svg+xml;charset=utf-8,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23ffc101' d='M9.55 1.4l-2.6 5.28-6.83 1 4.94 4.8-1.17 6.8 6.1-3.2 6.1 3.2-1.16-6.8 4.94-4.8-6.83-1L10 .48'/%3E%3C/svg%3E")
}

.atm-m-stars .star.half {
	background-image:
		url("data:image/svg+xml;charset=utf-8,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.55 1.4l-2.6 5.28-6.83 1 4.94 4.8-1.17 6.8 6.1-3.2 6.1 3.2-1.16-6.8 4.94-4.8-6.83-1L10 .48l-.45.92zM10 14.95V2.75l2.4 4.84 5.33.77-3.86 3.77.9 5.32-4.77-2.5z' fill='%23ffc101'/%3E%3C/svg%3E")
}

iframe[name=cj_conversion] {
	position: fixed
}

.ups {
	position: relative;
	z-index: 2;
	background-color: #fff;
	height: 30px;
	line-height: 30px;
	font-size: 10px;
	font-weight: 700;
	letter-spacing: 1.3px
}

.ups .c {
	max-width: 1164px;
	margin: auto;
	padding: 0 10px;
	text-align: center
}

.ups .c .pull-left {
	float: left
}

.ups .c .pull-right {
	float: right
}

.ups .hide-sm {
	display: none
}

.ups .hide-lg {
	display: inline
}

div.arrow {
	background-repeat: no-repeat;
	background-size: 100% 100%
}

div.arrow.grey {
	background-image:
		url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='29' height='15'%3E%3Cpath fill='%23CCC' fill-rule='evenodd' d='M1.927 14.672a1.136 1.136 0 0 1-1.596 0 1.109 1.109 0 0 1 0-1.58L13.223.329a1.136 1.136 0 0 1 1.596 0L27.71 13.093a1.11 1.11 0 0 1 0 1.58 1.136 1.136 0 0 1-1.596 0L14.02 3.03 1.927 14.672z'/%3E%3C/svg%3E")
}

div.arrow.black {
	background-image:
		url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='29' height='15'%3E%3Cpath fill='%23333' fill-rule='evenodd' d='M1.927 14.672a1.136 1.136 0 0 1-1.596 0 1.109 1.109 0 0 1 0-1.58L13.223.329a1.136 1.136 0 0 1 1.596 0L27.71 13.093a1.11 1.11 0 0 1 0 1.58 1.136 1.136 0 0 1-1.596 0L14.02 3.03 1.927 14.672z'/%3E%3C/svg%3E")
}

div.arrow.bottom {
	-ms-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg)
}

div.arrow.right {
	-ms-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg)
}

div.arrow.left {
	-ms-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg)
}

span.initials {
	width: 35px;
	height: 35px;
	line-height: 35px;
	border-radius: 50%;
	color: #fff;
	display: block;
	text-align: center
}

header {
	position: relative;
	z-index: 2;
	background: #fff;
	border-bottom: 1px solid #f2f2f2;
	border-top: 1px solid #f2f2f2
}

header .c {
	width: 100%;
	max-width: 1164px;
	height: 80px;
	margin: -1px auto;
	padding: 0 10px;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex
}

header .c>ul>li {
	-webkit-box-align: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center
}

header .logo {
	padding: 23px 20px 0 0;
	height: 55px;
	margin-right: auto
}

header .logo a {
	display: block
}

header .tagln-search {
	width: calc(100% - 755px);
	cursor: pointer
}

header .tagln {
	color: #ccc;
	font-size: 16px;
	font-family: Georgia, Nimbus Roman No9 L, serif;
	display: inline-block;
	padding: 30px 0 0;
	position: absolute
}

header .tagln img {
	vertical-align: bottom
}

header .search {
	padding: 20px 0 0;
	width: 100%;
	height: 100%;
	float: right;
	position: relative
}

header .search input {
	float: right;
	width: 22px;
	height: 22px;
	margin: 5px 15px 0 0;
	outline: none;
	cursor: pointer;
	border-radius: 50px;
	border: 2px solid #333;
	background: #fff;
	font-size: 0
}

header .search .close {
	position: absolute;
	float: right;
	right: 0;
	width: 50px;
	height: 40px
}

header .search .close span {
	position: absolute;
	right: 15px;
	top: 22px;
	float: right;
	width: 2px;
	height: 10px;
	background: #333;
	border-radius: 2px;
	display: inline-block;
	cursor: pointer;
	-ms-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg)
}

header .search .close .front {
	filter: alpha(opacity = 0);
	opacity: 0
}

header ul {
	height: 100%
}

header ul li {
	float: left;
	padding: 0 15px;
	height: 100%;
	border: 1px solid transparent;
	margin-bottom: -1px
}

header ul li:not ([data-type] ){
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-moz-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center
}

header ul li.dropdown nav {
	display: none
}

header ul li a {
	font-size: 14px;
	letter-spacing: 0;
	line-height: 80px;
	color: #333
}

header ul li span a {
	font-size: 10px;
	color: #999;
	line-height: 18px
}

header ul li.profile img {
	width: 35px;
	height: 35px;
	border-radius: 50%
}

header ul li.profile svg {
	width: 35px;
	height: 35px
}

header ul li.support .phone {
	color: #333
}

header ul li.support .phone, header ul li.support .phone a {
	font-size: 16px;
	line-height: 23px
}

header ul li.support .phone span {
	display: inline-block;
	vertical-align: middle;
	margin-left: 4px;
	margin-bottom: 5px;
	border-radius: 50%;
	width: 16px;
	height: 16px;
	overflow: hidden
}

header ul li.support .phone span img {
	margin: -3px 0 0 -18%
}

header ul li.support .phone span svg {
	width: 16px;
	height: 16px;
	vertical-align: top
}

header ul li.support .desc {
	font-size: 12px;
	color: #999;
	line-height: 20px;
	text-align: right;
	width: 100%;
	margin-right: 2px
}

header ul li.support a.contact-con {
	display: block
}

header ul li.support a.contact-con .phone {
	padding-top: 17px
}

header ul li.support a.contact-con .desc {
	padding-bottom: 20px
}

header ul li.support a.desc:hover {
	text-decoration: underline
}

.cross {
	position: relative;
	display: inline-block;
	font-style: normal;
	font-family: Helvetica, Arial, FreeSans, sans-serif;
	font-size: 14px
}

.cross:before {
	position: absolute;
	content: "";
	left: -5%;
	top: 7.5px;
	right: 0;
	border-top: 2px solid;
	border-color: #e74c3c;
	width: 110%
}

footer {
	width: 100%;
	background: #fff;
	padding-bottom: 30px
}

footer>img {
	width: 100%;
	height: 4px;
	display: block
}

footer .c {
	width: 100%;
	max-width: 1164px;
	margin: 0 auto;
	padding: 0
}

footer .lnk {
	position: relative;
	overflow: hidden;
	padding: 30px 0 200px;
	background-color: #f5f5f5
}

footer .lnk>img {
	position: absolute;
	bottom: 0
}

footer .lnk>img.left {
	left: 0;
	height: 120px
}

footer .lnk>img.right {
	right: 0;
	height: 200px
}

footer form {
	color: #fff;
	background: #30759d;
	padding: 30px 0 40px;
	text-align: center;
	width: 100%;
	height: 150px;
	line-height: 90px
}

footer form .title {
	width: 100%;
	font-weight: 700;
	font-size: 18px;
	letter-spacing: 0;
	line-height: 24px;
	margin-bottom: 14px
}

footer form input {
	width: 380px;
	padding: 12px 20px;
	border: 1px solid #ccc;
	border-radius: 1px;
	border-right: none;
	font-family: Helvetica Neue, Arial, Helvetica, Geneva, FreeSans,
		sans-serif;
	line-height: 19px
}

footer form .but.blue, footer form input {
	height: 43px;
	font-size: 16px;
	vertical-align: top
}

footer form .but.blue {
	width: 119px;
	display: inline-block;
	padding: 12px 0;
	line-height: 16px;
	border-radius: 1px
}

footer .press {
	margin: 0 auto 30px;
	padding: 30px 60px;
	border-bottom: 1px solid #ccc;
	text-align: center
}

footer .press p {
	display: inline-block;
	margin-right: 50px;
	line-height: 30px;
	color: #30759d;
	font-weight: 700;
	position: relative;
	top: -12px
}

footer .press img {
	height: auto;
	vertical-align: middle
}

footer .press img.hotp {
	width: 906px;
	margin-right: 5%;
	max-width: 40%
}

footer .press img.reviews {
	width: 558px;
	max-width: 55%;
	margin-bottom: -5px
}

footer .rlk {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: justify;
	-moz-box-pack: justify;
	-ms-flex-pack: justify;
	-webkit-justify-content: space-around;
	justify-content: space-around
}

footer .rlk.bottom {
	border-top: 1px solid #ccc;
	padding-top: 30px
}

footer .rlk>div {
	width: 13%
}

footer .rlk h4 {
	margin: 0;
	padding: 20px 0
}

footer .rlk h4 a {
	color: #333
}

footer .rlk li {
	margin-bottom: 5px
}

footer .rlk li a {
	font-size: 12px;
	line-height: 20px;
	color: #333
}

footer .rlk li a span {
	padding: 0 8px;
	color: #fff;
	background-color: #409cd1;
	display: inline-block;
	border-radius: 1px;
	font-size: 11px;
	margin-left: 7px
}

footer .f {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: justify;
	-moz-box-pack: justify;
	-ms-flex-pack: justify;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	margin: 30px 0 0;
	padding: 30px 60px
}

footer .f .soc {
	text-align: center;
	height: 32px
}

footer .f .soc svg {
	width: 32px;
	height: 32px;
	margin: 0 4px
}

footer .f .fb-like {
	height: 32px
}

footer .f .fb-like, footer .f .fb-like span, footer .f .fb-like span iframe
	{
	width: 250px !important
}

footer .f .cards img {
	vertical-align: middle;
	height: 28px;
	padding: 4px 3px
}

footer .f .cards img:not (:last-of-type ){
	margin-right: 10px
}

footer .f .cards img[data-src*=PayPal] {
	padding: 7px 3px
}

footer .cop {
	color: #ccc;
	font-size: 12px;
	line-height: 20px;
	padding: 20px 0;
	text-align: center
}

footer .cop a {
	color: #ccc;
	margin-left: 3px
}

@media ( min-width :480px) {
	.ups .hide-sm {
		display: inline
	}
	.ups .hide-lg {
		display: none
	}
}

@media ( max-width :1023px) {
	header .tagln {
		display: none
	}
}

@media ( min-width :971px) {
	body.resp footer .rlk .arrow, body.resp header .desc.tab, body.resp header .phone.mob,
		body.resp header .t_menu, body.resp nav.header {
		display: none
	}
}

@media ( max-width :970px) {
	body.resp footer .lnk .c, body.resp footer .rlk.bottom, body.resp header .deals,
		body.resp header .desc:not (.tab ), body.resp header .dropdown.fill,
		body.resp header .ls-links, body.resp header .phone:not (.tab ), body.resp header .profile,
		body.resp header .tagln, body.resp header ul li.dropdown.support:hover nav,
		body.resp header ul li.dropdown.support nav {
		display: none
	}
	body.resp header .t-menu {
		padding: 28px 10px;
		margin: 0 50px 0 15px
	}
	body.resp header .t-menu>div {
		border-radius: 100px;
		width: 25px;
		height: 2px;
		margin-top: 5px;
		background-color: #ccc
	}
	body.resp header .tagln-search {
		width: calc(100% - 495px)
	}
	body.resp nav.header {
		position: fixed;
		width: 260px
	}
	body.resp nav.header:not (.open ){
		left: -260px
	}
	body.resp footer .lnk {
		height: 250px
	}
	body.resp footer .lnk img.left {
		left: -75px
	}
	body.resp footer .lnk img.right {
		right: -75px
	}
	body.resp footer form {
		width: 100%
	}
	body.resp footer .press {
		margin-bottom: 0
	}
	body.resp footer .rlk {
		-webkit-box-orient: vertical;
		-moz-box-orient: vertical;
		-webkit-flex-direction: column;
		flex-direction: column
	}
	body.resp footer .rlk>div {
		text-align: center;
		border-bottom: 1px solid #ccc;
		width: 100%
	}
	body.resp footer .rlk>div:not (.open ) ul {
		display: none
	}
	body.resp footer .rlk>div h4 .arrow {
		position: relative;
		right: 30px;
		top: 7px;
		width: 10px;
		height: 5px;
		float: right
	}
	body.resp footer .rlk>div ul {
		margin-bottom: 20px
	}
	body.resp footer .rlk>div li a {
		font-size: 14px
	}
	body.resp footer .f {
		-webkit-box-orient: vertical;
		-webkit-box-direction: reverse;
		-moz-box-orient: vertical;
		-moz-box-direction: reverse;
		-webkit-flex-direction: column-reverse;
		flex-direction: column-reverse;
		border-top: none;
		margin: 0;
		padding: 20px
	}
	body.resp footer .soc {
		margin-top: 30px
	}
	body.resp footer .fb-like {
		margin: 30px auto;
		float: none;
		display: block
	}
	body.resp footer .cards {
		text-align: center
	}
	body.resp footer .cop {
		font-size: 10px
	}
}

@media ( min-width :771px) {
	body.resp footer .press a.mob {
		display: none
	}
}

@media ( max-width :767px) {
	body.resp footer .lnk .right, body.resp footer .press a:not (.mob ),
		body.resp header .support {
		display: none
	}
	body.resp header .phone.mob {
		display: block
	}
	body.resp header .c {
		height: 65px
	}
	body.resp header .c .t-menu {
		padding: 20px 0;
		margin: 0 25px 0 15px
	}
	body.resp header .c .logo {
		padding-top: 18px
	}
	body.resp header .c .logo svg {
		width: 125px
	}
	body.resp header .c a.phone {
		margin: 20px 50px 0 0
	}
	body.resp header .c .tagln-search {
		width: 40px;
		height: 50px;
		position: absolute;
		right: 0
	}
	body.resp header .c .search {
		padding-top: 15px
	}
	body.resp header .c .search input {
		border: 2px solid #409cd1
	}
	body.resp header .c .search ul {
		margin-top: 50px
	}
	body.resp header .c .close span {
		background: #409cd1
	}
	body.resp footer .lnk {
		height: 160px
	}
	body.resp footer .press {
		padding: 20px
	}
	body.resp footer .press img {
		width: 588px;
		max-width: 100%
	}
	body.resp footer .rlk h4 {
		text-align: left;
		padding-left: 20px
	}
	body.resp footer form {
		line-height: inherit;
		height: auto
	}
	body.resp footer form .title {
		width: 85%;
		display: inline-block;
		font-size: 14px;
		line-height: 23px;
		text-align: center;
		margin: 0 0 20px
	}
	body.resp footer form input {
		width: 85%;
		max-width: none;
		border-right: 1px solid #ccc;
		vertical-align: bottom
	}
	body.resp footer form .but.blue {
		display: block;
		margin: 0 auto;
		width: 85%
	}
}

body {
	min-width: 980px
}

main .but {
	padding: 12px 0;
	max-width: 300px;
	margin: 0 auto
}

main .but.r {
	position: absolute;
	right: 30px;
	top: 42px
}

main .top {
	position: relative;
	z-index: 0;
	height: 100vh;
	background: #333;
	margin-top: -144px;
	min-height: 640px
}

main .top .im {
	background-repeat: no-repeat;
	background-position: 100% 100%;
	background-size: cover;
	-o-background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	min-height: 100%;
	min-width: 100%;
	-webkit-animation: fadein 2s;
	-moz-animation: fadein 2s;
	-ms-animation: fadein 2s;
	-o-animation: fadein 2s;
	animation: fadein 2s;
	position: absolute
}

main .top .im:after {
	background: rgba(0, 0, 0, .5);
	content: "";
	position: absolute;
	width: 100%;
	height: 100%
}

main .top .in {
	position: absolute;
	top: 50%;
	bottom: 0;
	left: 0;
	right: 0;
	margin: -100px auto auto;
	width: 100%;
	max-width: 900px;
	text-align: center;
	color: #fff;
	line-height: 21px
}

main .top .in h1 {
	margin: 0 0 40px;
	padding: 0;
	font-size: 36px;
	font-weight: 700;
	line-height: 41px;
	color: #fff;
	font-family: Georgia, Nimbus Roman No9 L, serif
}

main .top .in ul {
	margin-top: 30px
}

main .top .in ul li {
	display: inline-block;
	text-align: left;
	width: 50%;
	padding: 0 25px 10px;
	position: relative;
	vertical-align: top
}

main .top .in ul li:before {
	position: absolute;
	background:
		url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 20 20' version='1.1'><path d='M5 10.7L6.6 9.1 8.2 10.7 12.9 6 14.6 7.6 8.2 14 5 10.7' fill='#fff'></path></svg>")
		no-repeat;
	width: 25px;
	height: 25px;
	content: "";
	left: -5px;
	top: -2px
}

main .top .in ul li:nth-child(2n) {
	padding-right: 30px
}

main .c {
	width: 100%;
	max-width: 1164px;
	margin: 0 auto;
	padding: 0 12px
}

main .social {
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 1;
	background: #fff;
	width: 100%;
	height: 56px
}

main .social .rating-data {
	margin-top: 15px;
	float: left;
	text-transform: uppercase;
	color: #999;
	font-size: 10px;
	line-height: 26px
}

main .social .rating-data .atm-m-stars {
	margin: 5px 15px 0 10px;
	vertical-align: middle
}

main .social .rating-data .atm-m-stars .star {
	width: 18px;
	height: 18px
}

main .social .rating-data .info {
	display: inline-block;
	line-height: 14px;
	float: right
}

main .social .rating-data .info .rating {
	font-size: 14px
}

main .social .rating-data .info .count {
	text-transform: none;
	color: #ccc;
	font-size: 12px
}

main .social .sbtn {
	float: right;
	height: 26px;
	margin: 15px 0
}

main .social .sbtn div {
	display: inline-block;
	cursor: pointer;
	width: 26px;
	height: 26px;
	margin-right: 8px
}

main .social .sbtn .tw {
	background:
		url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' x='0' y='0' width='26' height='26' viewBox='0 0 32 32'><path fill='rgb(204,204,204)' d='M16 0c-8.8 0-16 7.2-16 16s7.2 16 16 16 16-7.2 16-16-7.2-16-16-16zM25.2 11.3c0 0.2 0 0.4 0 0.6 0 6.3-4.8 13.5-13.5 13.5-2.7 0-5.2-0.8-7.3-2.1 0.4 0 0.7 0.1 1.1 0.1 2.2 0 4.3-0.8 5.9-2-2.1 0-3.8-1.4-4.4-3.3 0.3 0.1 0.6 0.1 0.9 0.1 0.4 0 0.9-0.1 1.3-0.2-2.2-0.4-3.8-2.4-3.8-4.7 0 0 0 0 0-0.1 0.6 0.4 1.4 0.6 2.1 0.6-1.3-0.9-2.1-2.3-2.1-3.9 0-0.9 0.2-1.7 0.6-2.4 2.3 2.9 5.8 4.8 9.8 5-0.1-0.3-0.1-0.7-0.1-1.1 0-2.6 2.1-4.7 4.7-4.7 1.4 0 2.6 0.6 3.5 1.5 1.1-0.2 2.1-0.6 3-1.2-0.4 1.1-1.1 2-2.1 2.6 1-0.1 1.9-0.4 2.7-0.7-0.6 1-1.4 1.8-2.4 2.5z'></path></svg>")
		no-repeat
}

main .social .sbtn .fb {
	background:
		url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' x='0' y='0' width='26' height='26' viewBox='0 0 32 32'><path fill='rgb(204,204,204)' d='M16 0c8.8 0 16 7.2 16 16 0 8.2-6.1 14.9-14 15.9v-11.9h5.5l0.5-4h-6v-2c0-1.1 0.9-2 2-2h4v-4h-4c-3.3 0-6 2.7-6 6v2h-3v4h3v11.9c-7.9-1-14-7.7-14-15.9 0-8.8 7.2-16 16-16z'></path></svg>")
		no-repeat
}

main .list {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: justify;
	-moz-box-pack: justify;
	-ms-flex-pack: justify;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	-ms-flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	overflow: auto;
	margin: 0
}

main .list h2 {
	font-family: Georgia, Nimbus Roman No9 L, serif;
	font-size: 36px;
	line-height: 41px;
	width: 100%;
	margin: 60px 0 30px
}

main .list .filler, main .list .item {
	width: 23.5%;
	max-width: 360px
}

main .list .item {
	margin-bottom: 20px;
	background: #fff
}

main .list .item>a {
	text-decoration: none
}

main .list .item .title {
	padding: 5px 0 7px;
    color: #333;
    font-size: 14px;
    font-weight: 600;
}

main .list .item .offers {
	padding: 0 28px;
	color: #fff;
	font: italic 14px Georgia, Nimbus Roman No9 L, serif
}

main .list .item .preview {
	position: relative;
	width: 100%;
	height: 200px;
	background: #999;
	overflow: hidden;
	z-index: 0
}

main .list .item .preview .bg, main .list .item .preview .mask {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1
}

main .list .item .preview .mask {
	background: rgba(0, 0, 0, 0.1) repeat 0 0
}

main .list .item .preview .river-info {
	position: absolute;
	bottom: 10px;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: justify;
	-moz-box-pack: justify;
	-ms-flex-pack: justify;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	-webkit-flex-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	width: 100%;
	max-width: 360px;
	height: 32px;
	color: #fff;
}

main .list .item .circle {
	margin-top: -51px;
	margin-left: 87px;
	position: absolute;
}
main .list .item .circle img {
	width: 90px;
    height: 90px;
    border: 2px solid #fff;
	border-radius: 50%;
}

main .list .item .description {
	text-align: center;
	margin: 50px 20px 13px;
	color: #999;
	font: 12px/19px Helvetica, Arial, FreeSans, sans-serif;
	overflow: hidden
}

main .list .item .description .trgh {
	color: #333;
	font-weight: 700;
	font-size: 14px
}

main .list .item .description .trgh.border {
	margin-top: 20px;
	padding-top: 20px;
	border-top: 1px solid #ccc
}

main .list .item .description .trgh .flag {
	display: inline-block;
	width: 15px;
	height: 15px;
	vertical-align: middle;
	border-radius: 7.5px;
	overflow: hidden;
	margin: -2px 5px 0;
	cursor: help
}

main .list .item .description .trgh .flag.more {
	background: #ccc;
	line-height: 15px;
	text-align: center;
	color: #fff;
	font-size: 11px
}

main .list .item .description .trgh .flag img {
	margin: -4px 0 0 -4px
}

main .sm.but.turq {
	max-width: 250px;
	margin-top: 10px;
	margin-bottom: 60px
}

main .content {
	background: #fff;
	padding: 30px;
	margin-bottom: 20px;
	position: relative
}

main .des {
	width: 50%;
	display: inline-block;
	position: relative;
	vertical-align: top;
	padding-top: 70px;
	overflow: hidden
}

main .des.a3 {
	width: 33.33%
}

main .des.a4 {
	width: 25%
}

main .des:after {
	content: "";
	width: 100%;
	background: rgba(0, 0, 0, .3)
}

main .des:after, main .des img {
	position: absolute;
	height: 100%;
	top: 0
}

main .des img {
	min-width: 100%;
	min-height: 100%;
	left: -50%;
	margin-left: 50%;
	object-fit: cover
}

main .des div {
	color: #fff;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	padding: 15px 6.5% 10px;
	width: 100%;
	height: 100%;
	text-align: center;
	font-family: Georgia, Nimbus Roman No9 L, serif;
	font-size: 18px;
	line-height: 23px;
	font-weight: 700
}

main .des div span {
	display: block;
	font-size: 14px;
	line-height: 16px;
	font-weight: 400;
	font-style: italic
}

main ul.bottom-links {
	clear: both;
	margin: 25px 0 10px
}

main ul.bottom-links li {
	display: inline-block;
	width: 25%;
	font-size: 12px;
	line-height: 22px;
	margin: 0;
	list-style: none;
	padding-left: 40px
}

main ul.bottom-links li a {
	color: #333
}

main ul.bottom-links li span {
	color: #ccc;
	padding-left: 3px;
	position: absolute
}

main .revs {
	clear: both;
	margin-top: 30px;
	padding: 36px 60px;
	background: #fff
}

main .revs h3 {
	font-family: Georgia, Nimbus Roman No9 L, serif;
	font-weight: 700;
	font-size: 24px;
	line-height: 26px;
	margin: 0
}

main .revs ul {
	margin-top: 30px;
	margin-bottom: -30px;
	text-align: center
}

main .revs ul.two li {
	width: 47.5%
}

main .revs ul.two li:first-child {
	margin-left: 0
}

main .revs ul.two li:last-child {
	margin-right: 0
}

main .revs ul.three li {
	width: 30%
}

main .revs ul.three li:first-child, main .revs ul.three li:nth-child(4)
	{
	margin-left: 0
}

main .revs ul.three li:nth-child(3), main .revs ul.three li:nth-child(6)
	{
	margin-right: 0
}

main .revs ul li {
	text-align: left;
	display: inline-block;
	vertical-align: top;
	font-size: 12px;
	line-height: 18px;
	margin: 0 2.5% 30px
}

main .revs ul li blockquote {
	font-style: italic;
	margin: 0
}

main .revs ul li a {
	color: #333;
	font-weight: 700;
	margin-top: 15px;
	display: block
}

main .ops h3 {
	font-family: Georgia, Nimbus Roman No9 L, serif;
	font-weight: 700;
	font-size: 24px;
	line-height: 26px;
	margin: 60px 0 40px;
	text-align: center
}

main .ops ul {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: justify;
	-moz-box-pack: justify;
	-ms-flex-pack: justify;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	-ms-flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	overflow: auto;
	margin: 0
}

main .ops ul li {
	background: #fff;
	display: inline-block;
	width: 23%;
	padding: 30px;
	text-align: center;
	vertical-align: top;
	margin: 15px 0
}

main .ops ul li.filler {
	padding: 0;
	margin: 0;
	background: transparent
}

main .ops ul li .logo {
	height: 60px;
	margin-bottom: 20px
}

main .ops ul li .logo img {
	max-width: 100%;
	max-height: 100%
}

main .faq {
	margin-top: 45px;
	margin-bottom: 60px
}

main .faq h3 {
	font-family: Georgia, Nimbus Roman No9 L, serif;
	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
	margin: 5px 0 24px
}

main .faq .more {
	padding: 50px 0 0
}

main .faq ul {
	padding-top: 10px
}

main .faq ul li {
	border-bottom: 1px solid #ccc;
	padding: 10px 0;
	position: relative;
	line-height: 23px
}

main .faq ul li td:first-child, main .faq ul li td:last-child {
	text-align: center;
}
main .faq ul li td.title {
	padding-left: 20px;
}

main .faq .qst {
	font-weight: 700;
	margin: 0;
	font-size: 14px
}


main .faq .ans p {
	padding: 20px 0 0
}

main .faq .ans .att {
	margin-top: 30px
}

@
keyframes fadein { 0%{
	opacity: 0
}

to {
	opacity: 1
}

}
@
-moz-keyframes fadein { 0%{
	opacity: 0
}

to {
	opacity: 1
}

}
@
-webkit-keyframes fadein { 0%{
	opacity: 0
}

to {
	opacity: 1
}

}
@
-ms-keyframes fadein { 0%{
	opacity: 0
}

to {
	opacity: 1
}

}
@
-o-keyframes fadein { 0%{
	opacity: 0
}

to {
	opacity: 1
}
}