@charset "UTF-8";

#content .header-cnt .btitle {
	margin-bottom: 15px;
}

#content .header-cnt .btitle h2 {
	margin: 3px 20px 0 0;
}

#content .finishButton {
    -webkit-appearance: none;
    background: #41c4ab;
    height: 43px;
    padding: 0 50px;
    font: 14px Helvetica,Arial,sans-serif;
    color: #fff;
    border: 1px solid #41c4ab;
    margin: 20px 0 50px;
}

#content button {
    outline: none;
}

#content .operator-review.step2 .operator {
	padding: 0 !important;
}

#content .operator-review.step2 .operator .img-cnt img {
	width: 105px;
    height: 105px;
	
}