@charset "UTF-8";

.olark {
	height: 48px;
	line-height: 48px;
	background: #2d2d2d;
	display: inline-block;
	position: fixed;
	bottom: 15px;
	right: 20px;
	border-radius: 100px;
	padding: 0 20px;
	z-index: 9999;
	color: #fff;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	font-weight: 700;
	cursor: pointer;
	text-decoration: none !important
}

@media ( max-width :768px) {
	.olark .olark-button-text {
		display: none
	}
	.olark svg {
		margin-right: 0 !important
	}
}

.olark>* {
	vertical-align: middle;
	display: inline-block
}

.olark svg {
	height: 48px;
	width: 28px;
	margin-right: 12px
}

.cf {
	overflow: auto
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

body, html {
	margin: 0;
	padding: 0
}

body:not (.resp ), html:not (.resp ){
	min-width: 963px
}

body.resp, html.resp {
	min-width: 320px
}

body {
	font-family: Helvetica, Arial, FreeSans, sans-serif;
	color: #333;
	background: #f5f5f5
}

body, input {
	font-size: 14px
}

input::-webkit-input-placeholder {
	color: #999
}

input:-moz-placeholder, input::-moz-placeholder {
	color: #999
}

input:-ms-input-placeholder {
	color: #999
}

input::placeholder {
	color: #999
}

ul {
	margin: 0;
	padding: 0;
	list-style: none
}

a {
	text-decoration: none;
	cursor: pointer;
	color: #409cd1
}

p {
	margin: 0
}

.unselectable {
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none
}

.t_b {
	height: 45px
}

.hid {
	display: none !important
}

.invis {
	visibility: hidden
}

.bg-all, .js-bg-all {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50%
}

.bg-all img, .js-bg-all img {
	display: block;
	object-fit: cover;
	height: 100%;
	width: 100%
}

.cross {
	position: relative;
	display: inline-block;
	font-style: normal;
	font-family: Helvetica, Arial, FreeSans, sans-serif;
	font-size: 14px
}

.cross:before {
	position: absolute;
	content: "";
	left: -5%;
	top: 7.5px;
	right: 0;
	border-top: 2px solid;
	border-color: #e74c3c;
	width: 110%
}

.but {
	width: 100%;
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 1px;
	text-align: center;
	padding: 7px 0;
	display: block;
	clear: both;
	color: #333
}

.but.turq {
	background: #41c4ab;
	border-color: #41c4ab;
	color: #fff
}

.but.w-blue {
	border-color: #409cd1;
	color: #409cd1
}

.but.blue {
	background: #409cd1;
	border-color: #409cd1;
	color: #fff
}

.atm-m-stars, .atm-m-stars .star {
	display: inline-block
}

.atm-m-stars .star {
	width: 15px;
	height: 15px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 50%;
	background-image:
		url("data:image/svg+xml;charset=utf-8,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.55 1.4l-2.6 5.28-6.83 1 4.94 4.8-1.17 6.8 6.1-3.2 6.1 3.2-1.16-6.8 4.94-4.8-6.83-1L10 .48l-.45.92zM6.13 12.14L2.27 8.37 7.6 7.6 10 2.74l2.4 4.84 5.33.77-3.86 3.77.9 5.32-4.77-2.5-4.78 2.5.9-5.32z' fill='%23ffc101'/%3E%3C/svg%3E")
}

.atm-m-stars .star.full {
	background-image:
		url("data:image/svg+xml;charset=utf-8,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23ffc101' d='M9.55 1.4l-2.6 5.28-6.83 1 4.94 4.8-1.17 6.8 6.1-3.2 6.1 3.2-1.16-6.8 4.94-4.8-6.83-1L10 .48'/%3E%3C/svg%3E")
}

.atm-m-stars .star.half {
	background-image:
		url("data:image/svg+xml;charset=utf-8,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.55 1.4l-2.6 5.28-6.83 1 4.94 4.8-1.17 6.8 6.1-3.2 6.1 3.2-1.16-6.8 4.94-4.8-6.83-1L10 .48l-.45.92zM10 14.95V2.75l2.4 4.84 5.33.77-3.86 3.77.9 5.32-4.77-2.5z' fill='%23ffc101'/%3E%3C/svg%3E")
}

iframe[name=cj_conversion] {
	position: fixed
}

.ups {
	position: relative;
	z-index: 2;
	background-color: #fff;
	height: 30px
}

.ups a {
	line-height: 30px;
	font-size: 10px;
	font-weight: 700;
	letter-spacing: 1.3px
}

.ups .c {
	max-width: 1164px;
	margin: auto;
	padding: 0 10px;
	text-align: center
}

.ups .c .pull-left {
	float: left
}

.ups .c .pull-right {
	float: right
}

.ups .hide-sm {
	display: none
}

.ups .hide-lg {
	display: inline
}

div.arrow {
	background-repeat: no-repeat;
	background-size: 100% 100%
}

div.arrow.grey {
	background-image:
		url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='29' height='15'%3E%3Cpath fill='%23CCC' fill-rule='evenodd' d='M1.927 14.672a1.136 1.136 0 0 1-1.596 0 1.109 1.109 0 0 1 0-1.58L13.223.329a1.136 1.136 0 0 1 1.596 0L27.71 13.093a1.11 1.11 0 0 1 0 1.58 1.136 1.136 0 0 1-1.596 0L14.02 3.03 1.927 14.672z'/%3E%3C/svg%3E")
}

div.arrow.black {
	background-image:
		url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='29' height='15'%3E%3Cpath fill='%23333' fill-rule='evenodd' d='M1.927 14.672a1.136 1.136 0 0 1-1.596 0 1.109 1.109 0 0 1 0-1.58L13.223.329a1.136 1.136 0 0 1 1.596 0L27.71 13.093a1.11 1.11 0 0 1 0 1.58 1.136 1.136 0 0 1-1.596 0L14.02 3.03 1.927 14.672z'/%3E%3C/svg%3E")
}

div.arrow.bottom {
	-ms-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg)
}

div.arrow.right {
	-ms-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg)
}

div.arrow.left {
	-ms-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg)
}

span.initials {
	width: 35px;
	height: 35px;
	line-height: 35px;
	border-radius: 50%;
	color: #fff;
	display: block;
	text-align: center
}

header {
	position: relative;
	z-index: 2;
	background: #fff;
	border-bottom: 1px solid #ebeef2;
	border-top: 1px solid #ebeef2
}

header .c {
	width: 100%;
	max-width: 1164px;
	height: 80px;
	margin: -1px auto;
	padding: 0 10px;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex
}

header .c>ul>li {
	-webkit-box-align: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center
}

header .logo {
	padding: 23px 20px 0 0;
	height: 55px;
	margin-right: auto
}

header .logo a {
	display: block
}

header .tagln-search {
	width: calc(100% - 755px);
	cursor: pointer
}

header .tagln {
	color: #ccc;
	font-size: 16px;
	font-family: Georgia, Nimbus Roman No9 L, serif;
	display: inline-block;
	padding: 30px 0 0;
	position: absolute
}

header .tagln img {
	vertical-align: bottom
}

header .search {
	padding: 20px 0 0;
	width: 100%;
	height: 100%;
	float: right;
	position: relative
}

header .search input {
	float: right;
	width: 22px;
	height: 22px;
	margin: 5px 15px 0 0;
	outline: none;
	cursor: pointer;
	border-radius: 50px;
	border: 2px solid #333;
	background: #fff;
	font-size: 0
}

header .search .close {
	position: absolute;
	float: right;
	right: 0;
	width: 50px;
	height: 40px
}

header .search .close span {
	position: absolute;
	right: 15px;
	top: 22px;
	float: right;
	width: 2px;
	height: 10px;
	background: #333;
	border-radius: 2px;
	display: inline-block;
	cursor: pointer;
	-ms-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg)
}

header .search .close .front {
	filter: alpha(opacity = 0);
	opacity: 0
}

header ul {
	height: 100%
}

header ul li {
	float: left;
	padding: 0 15px;
	height: 100%;
	border: 1px solid transparent;
	margin-bottom: -1px
}

header ul li:not ([data-type] ){
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-moz-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center
}

header ul li.dropdown nav {
	display: none
}

header ul li a {
	font-size: 14px;
	letter-spacing: 0;
	line-height: 80px;
	color: #333
}

header ul li span a {
	font-size: 10px;
	color: #999;
	line-height: 18px
}

header ul li.profile img {
	width: 35px;
	height: 35px;
	border-radius: 50%
}

header ul li.profile svg {
	width: 35px;
	height: 35px
}

header ul li.support .phone {
	color: #333
}

header ul li.support .phone, header ul li.support .phone a {
	font-size: 16px;
	line-height: 23px
}

header ul li.support .phone span {
	display: inline-block;
	vertical-align: middle;
	margin-left: 4px;
	margin-bottom: 5px;
	border-radius: 50%;
	width: 16px;
	height: 16px;
	overflow: hidden
}

header ul li.support .phone span img {
	margin: -3px 0 0 -18%
}

header ul li.support .phone span svg {
	width: 16px;
	height: 16px;
	vertical-align: top
}

header ul li.support .desc {
	font-size: 12px;
	color: #999;
	line-height: 20px;
	text-align: right;
	width: 100%;
	margin-right: 2px
}

header ul li.support a.contact-con {
	display: block
}

header ul li.support a.contact-con .phone.mob {
	padding-top: 17px
}

header ul li.support a.contact-con .desc {
	padding-bottom: 20px
}

header ul li.support a.desc:hover {
	text-decoration: underline
}

@media ( min-width :480px) {
	.ups .hide-sm {
		display: inline
	}
	.ups .hide-lg {
		display: none
	}
}

@media ( max-width :1023px) {
	header .tagln {
		display: none
	}
}

@media ( min-width :971px) {
	body.resp header .desc.tab, body.resp header .phone.mob, body.resp header .t_menu,
		body.resp nav.header {
		display: none
	}
}

@media ( max-width :970px) {
	body.resp header .deals, body.resp header .desc:not (.tab ), body.resp header .dropdown.fill,
		body.resp header .ls-links, body.resp header .phone:not (.tab ), body.resp header .profile,
		body.resp header .tagln, body.resp header ul li.dropdown.support:hover nav,
		body.resp header ul li.dropdown.support nav {
		display: none
	}
	body.resp header .t-menu {
		padding: 28px 10px;
		margin: 0 50px 0 15px
	}
	body.resp header .t-menu>div {
		border-radius: 100px;
		width: 25px;
		height: 2px;
		margin-top: 5px;
		background-color: #ccc
	}
	body.resp header .tagln-search {
		width: calc(100% - 495px)
	}
	body.resp nav.header {
		position: fixed;
		width: 260px
	}
	body.resp nav.header:not (.open ){
		left: -260px
	}
}

@media ( max-width :767px) {
	body.resp header .support {
		display: none
	}
	body.resp header .phone.mob {
		display: block
	}
	body.resp header .c {
		height: 65px
	}
	body.resp header .c .t-menu {
		padding: 20px 0;
		margin: 0 25px 0 15px
	}
	body.resp header .c .logo {
		padding-top: 18px
	}
	body.resp header .c .logo svg {
		width: 125px
	}
	body.resp header .c a.phone {
		margin: 20px 50px 0 0
	}
	body.resp header .c .tagln-search {
		width: 40px;
		height: 50px;
		position: absolute;
		right: 0
	}
	body.resp header .c .search {
		padding-top: 15px
	}
	body.resp header .c .search input {
		border: 2px solid #409cd1
	}
	body.resp header .c .search ul {
		margin-top: 50px
	}
	body.resp header .c .close span {
		background: #409cd1
	}
}

footer {
	width: 100%;
	background: #fff;
	padding-bottom: 30px
}

footer>img {
	width: 100%;
	height: 4px;
	display: block
}

footer .c {
	width: 100%;
	max-width: 1164px;
	margin: 0 auto;
	padding: 0
}

footer .lnk {
	position: relative;
	overflow: hidden;
	padding: 30px 0 200px;
	background-color: #f5f5f5
}

footer .lnk>img {
	position: absolute;
	bottom: 0
}

footer .lnk>img.left {
	left: 0;
	height: 120px
}

footer .lnk>img.right {
	right: 0;
	height: 200px
}

footer form {
	color: #fff;
	background: #30759d;
	padding: 30px 0 40px;
	text-align: center;
	width: 100%;
	height: 150px;
	line-height: 90px
}

footer form .title {
	width: 100%;
	font-weight: 700;
	font-size: 18px;
	letter-spacing: 0;
	line-height: 24px;
	margin-bottom: 14px
}

footer form input {
	width: 380px;
	padding: 12px 20px;
	border: 1px solid #ccc;
	border-radius: 1px;
	border-right: none;
	font-family: Helvetica Neue, Arial, Helvetica, Geneva, FreeSans,
		sans-serif;
	line-height: 19px
}

footer form .but.blue, footer form input {
	height: 43px;
	font-size: 16px;
	vertical-align: top
}

footer form .but.blue {
	width: 119px;
	display: inline-block;
	padding: 12px 0;
	line-height: 16px;
	border-radius: 1px
}

footer .press {
	margin: 0 auto 30px;
	padding: 30px 60px;
	border-bottom: 1px solid #ccc;
	text-align: center
}

footer .press p {
	display: inline-block;
	margin-right: 50px;
	line-height: 30px;
	color: #30759d;
	font-weight: 700;
	position: relative;
	top: -12px
}

footer .press img {
	height: auto;
	vertical-align: middle
}

footer .press img.hotp {
	width: 906px;
	margin-right: 5%;
	max-width: 40%
}

footer .press img.reviews {
	width: 558px;
	max-width: 55%;
	margin-bottom: -5px
}

footer .rlk {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: justify;
	-moz-box-pack: justify;
	-ms-flex-pack: justify;
	-webkit-justify-content: space-around;
	justify-content: space-around
}

footer .rlk.bottom {
	border-top: 1px solid #ccc;
	padding-top: 30px
}

footer .rlk>div {
	width: 13%
}

footer .rlk h4 {
	margin: 0;
	padding: 20px 0
}

footer .rlk h4 a {
	color: #333
}

footer .rlk li {
	margin-bottom: 5px
}

footer .rlk li a {
	font-size: 12px;
	line-height: 20px;
	color: #333
}

footer .rlk li a span {
	padding: 0 8px;
	color: #fff;
	background-color: #409cd1;
	display: inline-block;
	border-radius: 1px;
	font-size: 11px;
	margin-left: 7px
}

footer .f {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: justify;
	-moz-box-pack: justify;
	-ms-flex-pack: justify;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	margin: 30px 0 0;
	padding: 30px 60px
}

footer .f .soc {
	text-align: center;
	height: 32px
}

footer .f .soc svg {
	width: 32px;
	height: 32px;
	margin: 0 4px
}

footer .f .fb-like {
	height: 32px
}

footer .f .fb-like, footer .f .fb-like span, footer .f .fb-like span iframe
	{
	width: 250px !important
}

footer .f .cards img {
	vertical-align: middle;
	height: 28px;
	padding: 4px 3px
}

footer .f .cards img:not (:last-of-type ){
	margin-right: 10px
}

footer .f .cards img[data-src*=PayPal] {
	padding: 7px 3px
}

footer .cop {
	color: #ccc;
	padding: 20px 0;
	text-align: center
}

footer .cop, footer .cop a {
	font-size: 12px;
	line-height: 20px
}

footer .cop a {
	color: #ccc;
	margin-left: 3px
}

@media ( min-width :971px) {
	body.resp footer .rlk .arrow {
		display: none
	}
}

@media ( max-width :970px) {
	body.resp footer .lnk .c, body.resp footer .rlk.bottom {
		display: none
	}
	body.resp footer .lnk {
		height: 250px
	}
	body.resp footer .lnk img.left {
		left: -75px
	}
	body.resp footer .lnk img.right {
		right: -75px
	}
	body.resp footer form {
		width: 100%
	}
	body.resp footer .press {
		margin-bottom: 0
	}
	body.resp footer .rlk {
		-webkit-box-orient: vertical;
		-moz-box-orient: vertical;
		-webkit-flex-direction: column;
		flex-direction: column
	}
	body.resp footer .rlk>div {
		text-align: center;
		border-bottom: 1px solid #ccc;
		width: 100%
	}
	body.resp footer .rlk>div:not (.open ) ul {
		display: none
	}
	body.resp footer .rlk>div h4 .arrow {
		position: relative;
		right: 30px;
		top: 7px;
		width: 10px;
		height: 5px;
		float: right
	}
	body.resp footer .rlk>div ul {
		margin-bottom: 20px
	}
	body.resp footer .rlk>div li a {
		font-size: 14px
	}
	body.resp footer .f {
		-webkit-box-orient: vertical;
		-webkit-box-direction: reverse;
		-moz-box-orient: vertical;
		-moz-box-direction: reverse;
		-webkit-flex-direction: column-reverse;
		flex-direction: column-reverse;
		border-top: none;
		margin: 0;
		padding: 20px
	}
	body.resp footer .soc {
		margin-top: 30px
	}
	body.resp footer .fb-like {
		margin: 30px auto;
		float: none;
		display: block
	}
	body.resp footer .cards {
		text-align: center
	}
	body.resp footer .cop {
		font-size: 10px
	}
}

@media ( min-width :771px) {
	body.resp footer .press a.mob {
		display: none
	}
}

@media ( max-width :767px) {
	body.resp footer .lnk .right, body.resp footer .press a:not (.mob ){
		display: none
	}
	body.resp footer .lnk {
		height: 160px
	}
	body.resp footer .press {
		padding: 20px
	}
	body.resp footer .press img {
		width: 588px;
		max-width: 100%
	}
	body.resp footer .rlk h4 {
		text-align: left;
		padding-left: 20px
	}
	body.resp footer form {
		line-height: inherit;
		height: auto
	}
	body.resp footer form .title {
		width: 85%;
		display: inline-block;
		font-size: 14px;
		line-height: 23px;
		text-align: center;
		margin: 0 0 20px
	}
	body.resp footer form input {
		width: 85%;
		max-width: none;
		border-right: 1px solid #ccc;
		vertical-align: bottom
	}
	body.resp footer form .but.blue {
		display: block;
		margin: 0 auto;
		width: 85%
	}
}

main .c {
	max-width: 1164px;
	margin: 0 auto;
	padding: 0 12px
}

main .c, main nav {
	width: 100%
}

main nav ul {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	color: #999;
	margin-top: 20px;
	line-height: 14px
}

main nav ul li {
	font-size: 10px;
	display: inherit;
	vertical-align: top
}

main nav ul a {
	color: #999;
	font-size: 12px
}

main nav ul a, main nav ul a span {
	font-weight: 400
}

main nav ul span {
	font-weight: 700;
	font-size: 12px
}

main .tabs {
	margin: 0 auto 60px;
	display: table
}

main .tabs li {
	float: left;
	margin: 0 16px;
	padding: 0 4px
}

main .tabs li a {
	color: #333
}

main .tabs li a:hover {
	color: #409cd1;
	text-decoration: none
}

main .tabs li.active {
	padding-bottom: 7px;
	color: #409cd1;
	border-bottom: 2px solid #409cd1;
	font-weight: 700
}

main h1 {
	font-family: Georgia, Nimbus Roman No9 L, serif;
	font-weight: 700;
	font-size: 36px;
	margin: 18px 0 10px
}

main.pop h1 {
	text-align: center;
	margin: 40px 0 50px
}

main .own {
	display: table;
	margin: 50px auto
}

main .own .ownc {
	display: table-row
}

main .own .initials {
	width: 50px;
	height: 50px;
	line-height: 50px;
	font-size: 16px;
	position: absolute;
	top: 0;
	bottom: 0
}

main .own .im {
	width: 50px;
	height: 50px;
	position: relative;
	overflow: hidden;
	border-radius: 25px;
	display: table-cell
}

main .own .im img {
	height: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto
}

main .own h1 {
	display: table-cell;
	padding: 2px 0 0 20px
}

main .list {
	text-align: center
}

main .list li {
	width: 360px;
	height: 210px;
	margin: 0 30px 30px 0;
	background: #fff;
	display: inline-block;
	position: relative;
	vertical-align: top
}

main .list li:after {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	background: #000;
	opacity: .3
}

main .list li:after, main .list li img {
	width: 100%;
	height: 100%
}

main .list li .name {
	font-size: 20px;
	font-weight: 700;
	line-height: 25px;
	top: 0;
	padding: 30px 25px 0
}

main .list li .count, main .list li .name {
	font-family: Georgia, Nimbus Roman No9 L, serif;
	position: absolute;
	left: 0;
	color: #fff;
	z-index: 1
}

main .list li .count {
	font-style: italic;
	bottom: 0;
	padding: 0 25px 30px
}

main .list li.add {
	margin-right: 0
}

main .list li.add:after {
	display: none
}

main .list li.add .but {
	width: 60%;
	margin: 89px 0 89px 20%
}

main .list a:last-child li, main .list a:nth-child(3n) li {
	margin-right: 0
}

main .nol, main .pag {
	text-align: center
}

main .pag {
	margin-top: 20px
}

main .pag a {
	padding: 7px;
	margin: 0 3px;
	color: #333;
	text-decoration: none
}

main .pag a:hover {
	color: #409cd1
}

main .pag a.active {
	color: #409cd1;
	border-bottom: 2px solid #409cd1
}

.wishlist_popup {
	width: 360px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	background: #fff
}

.wishlist_popup .content {
	padding: 25px 30px 40px
}

.wishlist_popup .content h2 {
	font-size: 18px;
	line-height: 21px;
	font-weight: 700;
	font-family: Georgia, Nimbus Roman No9 L, serif;
	text-align: center;
	margin: 0 0 20px
}

.wishlist_popup .content h3 {
	font-size: 14px;
	line-height: 26px;
	font-weight: 700;
	margin: 10px 0 0
}

.wishlist_popup .content input {
	width: 100%;
	height: 36px;
	padding: 0 7px
}

.wishlist_popup .content textarea {
	width: 100%;
	height: 88px;
	padding: 7px;
	font-family: Arial;
	font-size: 14px;
	line-height: 18px;
	resize: none
}

.wishlist_popup .content select {
	width: 100%;
	height: 30px;
	font-size: 14px;
	padding: 0 5px
}

.wishlist_popup .content .buttons {
	margin-top: 30px
}

.wishlist_popup .content .buttons .but {
	width: 45%;
	float: left;
	clear: none;
	padding: 16px 0
}

.wishlist_popup .content .buttons .but.remove {
	border-color: #d0021b;
	color: #d0021b
}

.wishlist_popup .content .buttons .but:last-child {
	float: right
}

@media ( max-width :1180px) {
	main .list a:last-child li, main .list a:nth-child(3n) li, main .list li
		{
		margin: 0 15px 30px
	}
}