@charset "UTF-8";

.cf {
	overflow: auto
}

#header-new .search {
	position: relative
}

#header-new .search ul {
	z-index: 3;
	background-color: #fff;
	position: absolute;
	margin: 53px 0 0;
	right: 0;
	left: -15px;
	width: 104%;
	height: auto
}

#header-new .search ul li {
	float: left;
	height: 100%;
	border: 1px solid transparent;
	margin-bottom: -1px;
	width: 100%;
	padding: 6px 10px;
	line-height: 21px;
	text-align: left;
	display: block;
	vertical-align: middle;
	cursor: pointer
}

#header-new .search ul li span {
	font-size: 10px;
	color: #999;
	float: right;
	text-transform: uppercase
}

#header-new .search ul li.active, #header-new .search ul li:hover {
	background-color: #409cd1;
	color: #fff
}

#header-new .search ul li.active span, #header-new .search ul li:hover span
	{
	color: #fff
}

#header-new .search .close .front {
	-ms-animation-delay: 2.5s;
	-webkit-animation-delay: 2.5s;
	-moz-animation-delay: 2.5s;
	-o-animation-delay: 2.5s;
	animation-delay: 2.5s;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: .2s all ease-in-out;
	-ms-transition: .2s all ease-in-out;
	-o-transition: .2s all ease-in-out;
	transition: all .2s ease-in-out
}

#header-new .search .close .back {
	-webkit-transition: all .05s ease-in-out;
	-moz-transition: .05s all ease-in-out;
	-ms-transition: .05s all ease-in-out;
	-o-transition: .05s all ease-in-out;
	transition: all .05s ease-in-out
}

#header-new .search input {
	-webkit-transition: .2s ease-in-out;
	-moz-transition: .2s ease-in-out;
	-ms-transition: .2s ease-in-out;
	-o-transition: .2s ease-in-out;
	transition: .2s ease-in-out
}

#header-new .search input::-webkit-input-placeholder {
	color: #ccc
}

#header-new .search input:-moz-placeholder, #header-new .search input::-moz-placeholder
	{
	color: #ccc
}

#header-new .search input:-ms-input-placeholder {
	color: #ccc
}

#header-new .search input::placeholder {
	color: #ccc
}

#header-new .search input::-ms-clear {
	display: none
}

#header-new .search input.focus {
	width: 95%;
	height: 40px;
	border-radius: 1px;
	padding: 0 5px;
	margin: 0 35px;
	line-height: 2em;
	font-size: 16px;
	font-family: Helvetica, Arial, FreeSans, sans-serif;
	cursor: auto;
	color: #333;
	border-width: 0 0 0 2px;
	border-color: transparent transparent transparent #409cd1 !important
}

#header-new .search input.focus+.close {
	height: 35px;
	width: 40px;
	background: none;
	display: inline-block;
	cursor: pointer
}

#header-new .search input.focus+.close span {
	right: 24px;
	top: 0;
	height: 34px
}

#header-new .search input.focus+.close .front {
	filter: alpha(opacity = 100);
	opacity: 1;
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	-ms-transition-delay: .2s;
	-webkit-transition-delay: .2s;
	-moz-transition-delay: .2s;
	-o-transition-delay: .2s;
	transition-delay: .2s
}

#header-new #results {
	position: absolute;
	top: 0;
	left: 0;
	height: 0;
	width: 0;
	padding: 0;
	margin: 0;
	overflow: hidden
}

@media ( max-width :850px) {
	#header-new .tagln-search.mob-focus {
		width: 100%;
		height: 72px;
		position: absolute;
		margin-right: 0;
		right: 0
	}
	#header-new .tagln-search.mob-focus .search {
		z-index: 2;
		background-color: #fff;
		padding: 15px 0 15px 20px
	}
	#header-new .tagln-search.mob-focus .search ul {
		width: 100%;
		margin-top: 50px;
		left: 0
	}
}