<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"     
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.web.blueballoon.model">
	<!-- 지역 카테고리 -->
	<select id="listBBCategoryDTO" resultType="BBCategoryDTO">
		select * from bb_category
	</select>
	<insert id="insertBBCategoryDTO" parameterType="BBCategoryDTO">
		insert into
		bb_category values(bb_cate_seq.nextval, #{cate_state}, #{cate_city})
	</insert>
	<delete id="deleteBBCategoryDTO" parameterType="int">
		delete from bb_category where cate_num = #{cate_num}
	</delete>
	<select id="getBBCategoryDTO" parameterType="int" resultType="BBCategoryDTO">
		select * from bb_category where cate_num = #{cate_num}
	</select>
	<update id="editBBCategoryDTO" parameterType="BBCategoryDTO">
		update bb_category set cate_state = #{cate_state, jdbcType=VARCHAR} , cate_city = #{cate_city, jdbcType=VARCHAR} where cate_num = #{cate_num, jdbcType=NUMERIC}
	</update>
	<!-- 여행 상품 -->
	<insert id="insertBBProduct" parameterType="BBProductDTO">
		insert into bb_product values(bb_prod_seq.nextval, #{prod_name , jdbcType=VARCHAR},
		#{prod_email , jdbcType=VARCHAR}, #{prod_phone , jdbcType=VARCHAR} , #{prod_price , jdbcType=NUMERIC},
		#{prod_org_img, jdbcType=VARCHAR}, #{prod_str_img, jdbcType=VARCHAR}, #{prod_cate},  #{prod_post_number, jdbcType=VARCHAR}, #{prod_road_address, jdbcType=VARCHAR}, #{prod_old_address, jdbcType=VARCHAR},
		#{prod_detail_address, jdbcType=VARCHAR}, #{prod_content, jdbcType=VARCHAR}, #{prod_pick, jdbcType=NUMERIC})
	</insert>
	<delete id="deleteBBProduct" parameterType="int">
		delete from bb_product where prod_num = #{prod_num}
	</delete>
	<select id="listBBProduct" resultType="BBProductDTO">
		select * from bb_product order by prod_num desc
	</select>
	<select id="getBBProduct" parameterType="int" resultType="BBProductDTO">
		select * from bb_product where prod_num = #{prod_num}
	</select>
	<update id="editBBProduct" parameterType="BBProductDTO">
		update bb_product set prod_name = #{prod_name, jdbcType=VARCHAR}, prod_email = #{prod_email, jdbcType=VARCHAR} , prod_phone =
		#{prod_phone, jdbcType=VARCHAR}, prod_price = #{prod_price, jdbcType=NUMERIC} , prod_org_img = #{prod_org_img, jdbcType=VARCHAR}, prod_str_img = #{prod_str_img, jdbcType=VARCHAR}, prod_post_number = #{prod_post_number, jdbcType=VARCHAR},
		 prod_road_address = #{prod_road_address, jdbcType=VARCHAR} ,prod_old_address = #{prod_old_address, jdbcType=VARCHAR},
		 prod_content = #{prod_content, jdbcType=VARCHAR }, prod_pick = #{prod_pick, jdbcType=NUMERIC} where prod_num = #{prod_num, jdbcType=NUMERIC}
	</update>
	
</mapper>