<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"     
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.web.blueballoon.model">
<!-- 페이징 sql -->
<sql id="pagingHeader">
    SELECT * FROM (
        SELECT ROWNUM AS rn, A.* FROM (
</sql>
<sql id="pagingFooter">
        ) A
    ) WHERE rn BETWEEN #{start} AND #{end}
</sql>	

<select id="boardList" parameterType="hashmap" resultType="BBBoardDTO">
	<include refid="pagingHeader"></include>
        SELECT ROWNUM, board_num,board_title 
        FROM bb_board ORDER BY board_num DESC
    <include refid="pagingFooter"></include>   
</select>

<select id="countBoard" resultType="int">
  		SELECT count(*) FROM bb_board
  </select>
</mapper>
