<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"     
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.web.blueballoon.model">
<!-- 페이징 sql -->
<sql id="pagingHeader">
    SELECT * FROM (
        SELECT ROWNUM AS rn, A.* FROM (
</sql>
<sql id="pagingFooter">
        ) A
    ) WHERE rn BETWEEN #{start} AND #{end}
</sql>	

<select id="boardList" parameterType="hashmap" resultType="BBBoardDTO">
	<include refid="pagingHeader"></include>
        SELECT ROWNUM, board_num,board_title 
        FROM bb_board ORDER BY board_num DESC
    <include refid="pagingFooter"></include>   
</select>

<select id="countBoard" resultType="int">
  		SELECT count(*) FROM bb_board
</select>

<insert id="insertBoard" parameterType="BBBoardDTO">
	INSERT INTO bb_board (board_num,member_email,board_title,board_content,board_img,board_reg_date, 
	board_readcount,board_likecount,prod_pick,prod_num,pack_num,prod_score,pack_score) 
	values(bb_board_seq.nextval,#{member_email},#{board_title},#{board_content},#{board_img},SYSDATE,0,0,
	#{prod_pick},#{prod_num},#{pack_num},#{prod_score},#{pack_score})
</insert>

<select id="getBoardNum" parameterType="BBBoardDTO" resultType="int">
	SELECT board_num FROM bb_board WHERE 
	(member_email = #{member_email} AND board_title = #{board_title})
	AND (prod_num = #{prod_num} AND pack_num =#{pack_num})
</select> 

<select id="countFile" parameterType="int" resultType="int">
	SELECT COUNT(DECODE(selected_num,#{bnum},'1')) from image
</select>

<update id="boardImgUpdate" parameterType="HashMap">
	UPDATE bb_board SET board_img = #{bdtoimg} WHERE board_num = #{bnum}
</update>

<insert id="insertFile" parameterType="HashMap">
	INSERT INTO image values(#{part}, #{selected_num}, #{org_img}, #{str_img})
</insert>

<update id="readcount" parameterType="int">
	UPDATE bb_board SET board_readcount = board_readcount + 1 WHERE board_num = #{board_num}
</update>

<select id="getBoard" resultType="BBBoardDTO" parameterType="int">
	SELECT * FROM bb_board WHERE board_num = #{board_num}
</select>

<select id="getImage" resultType="ImageDTO" parameterType="int">
	SELECT * FROM image WHERE selected_num =#{selected_num}
</select>

<select id="getMemberName" resultType="BBMemberDTO" parameterType="String">
	SELECT * FROM bb_member WHERE member_email=#{member_email}
</select>

<update id="likecount" parameterType="int">
  	UPDATE bb_board SET board_likecount = board_likecount + 1 WHERE board_num = #{board_num}
</update>

<delete id="deleteBoard" parameterType="int">
 		DELETE FROM bb_board WHERE board_num = #{board_num}
</delete>

<update id="updateBoard" parameterType="BBBoardDTO">
 		UPDATE bb_board SET board_title =#{board_title},board_content=#{board_content},board_img=#{board_img},
 		prod_score=#{prod_score}, pack_score=#{pack_score} WHERE board_num = #{board_num}
</update>

<delete id="deleteImage" parameterType="int">
		DELETE FROM image WHERE selected_num =#{board_num}
</delete>

</mapper>
