<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"     
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.web.blueballoon.model">
<!-- 페이징 sql -->
<sql id="pagingHeader">
    SELECT * FROM (
        SELECT ROWNUM AS rn, A.* FROM (
</sql>
<sql id="pagingFooter">
        ) A
    ) WHERE rn BETWEEN #{start} AND #{end}
</sql>	

<select id="boardList" parameterType="HashMap" resultType="BBBoardDTO">
	<include refid="pagingHeader"></include>
        SELECT ROWNUM, board_num,board_title, board_reg_date, board_readcount
        FROM bb_board ORDER BY board_num DESC
    <include refid="pagingFooter"></include>   
</select>

<select id="countBoard" resultType="int">
  	SELECT count(*) FROM bb_board
</select>

<select id="bestReview" resultType="BBBoardDTO">
	<![CDATA[ 
		SELECT * FROM ( SELECT * FROM bb_board ORDER BY board_likecount DESC) WHERE ROWNUM <=3
		]]>
</select>

<insert id="insertBoard" parameterType="BBBoardDTO">
	INSERT INTO bb_board (board_num, member_email,board_title,board_content,
	board_org_img, board_str_img,board_reg_date, board_readcount, board_likecount,board_score,prod_num) 
	values(bb_board_seq.nextval,#{member_email},#{board_title},#{board_content},
	#{board_org_img, jdbcType=VARCHAR},#{board_str_img, jdbcType=VARCHAR},SYSDATE,0,0, #{board_score},#{prod_num})
</insert>

<select id="getBoardNum" parameterType="BBBoardDTO" resultType="int">
	SELECT board_num FROM bb_board WHERE 
	(member_email = #{member_email} AND board_title = #{board_title})
	AND (prod_num = #{prod_num} AND pack_num =#{pack_num})
</select> 

<update id="readcount" parameterType="int">
	UPDATE bb_board SET board_readcount = board_readcount + 1 WHERE board_num = #{board_num}
</update>

<select id="getBoard" resultType="BBBoardDTO" parameterType="int">
	SELECT * FROM bb_board WHERE board_num = #{board_num}
</select>

<select id="getMemberName" resultType="BBMemberDTO" parameterType="String">
	SELECT * FROM bb_member WHERE member_email=#{member_email}
</select>

<update id="likecount" parameterType="int">
  	UPDATE bb_board SET board_likecount = board_likecount + 1 WHERE board_num = #{board_num}
</update>

<delete id="deleteBoard" parameterType="int">
 		DELETE FROM bb_board WHERE board_num = #{board_num}
</delete>

<update id="updateBoard" parameterType="BBBoardDTO">
 		UPDATE bb_board SET board_title =#{board_title},board_content=#{board_content},
 		board_org_img=#{board_org_img, jdbcType=VARCHAR},board_str_img=#{board_str_img, jdbcType=VARCHAR},board_score=#{board_score} WHERE board_num = #{board_num}
</update>

<insert id="insertComment" parameterType="BBCommentDTO">
  		INSERT INTO bb_comment VALUES(#{board_num},#{member_email},bb_comment_seq.nextval,#{comment_content},SYSDATE,0,0,1)
</insert>

<select id="commentList" resultType="BBCommentDTO" parameterType="int">
		SELECT * FROM bb_comment WHERE board_num = #{board_num}
</select>

<delete id="deleteComment" parameterType="int">
	DELETE FROM bb_comment WHERE comment_num =#{comment_num}
</delete>
</mapper>
